.sectionName,
.sectionName span {
  color: #6d309d;
}

.sectionName {
  margin: 0 0 1rem 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

html[data-language-selected="ar"] .sectionName {
  font-size: clamp(26px, 5vw, 35px);
}

.sectionName span {
  padding: 0 0.5rem 0 0.5rem;
  font-size: 35px;
  font-weight: 300;
}
