.wrapper ul {
  list-style: none;
}

.wrapper li {
  padding: 1rem;
  font-size: 18px;
  font-weight: 400;
}

html[data-language-selected="ar"] .wrapper li {
  font-size: clamp(26px, 6vw, 35px);
}

.wrapper span::before {
  content: "•";
  color: #6d309d;
  font-size: 1rem;
  padding-right: 0.5rem;
  display: inline-block;
}
