.wrapper {
  margin: 1rem;
  padding: 1rem;
  height: 20rem;
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f0ff;
  border: 1px solid rgb(109, 48, 157, 0.1);
  border-radius: 15px;
}

.wrapper h3 {
  font-size: 24px;
  color: #6d309d;
}

.wrapper ul {
  list-style: none;
}

.wrapper li {
  padding: 1.5rem;
  font-size: 18px;
  font-weight: 500;
}
