.wrapper {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .intro {
  margin: 0 0 2rem 0;
  padding: 0 0 0 1rem;
  text-align: center;
  position: relative;
  font-weight: 500;
}

.wrapper .intro::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #ff4783;
  border-radius: 50%;
}

.wrapper h1,
.ampersand {
  margin: 0 0 2rem 0;
  color: #35293b;
  font-size: clamp(30px, 8vw, 64px);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

html[data-language-selected="ar"] .wrapper h1 {
  line-height: 1;
  font-size: clamp(43px, 14vw, 100px);
}

.lineOne {
  color: #6d309d;
}

.videoWrapper {
  height: 30rem;
  display: flex;
  justify-content: center;
  pointer-events: none;
  touch-action: none;
  /* overflow: hidden; */
}

.videoWrapper video {
  width: 290px;
  border-radius: 20px;
}
