.wrapper {
  padding: 1rem;
  min-height: 100vh;
  width: 100%;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper div {
  margin: 2rem;
}

.wrapper hr {
  width: 100%;
}
