.button {
  margin: 2rem;
  height: 4rem;
  width: 15rem;
  background-color: #ff4783;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

html[data-language-selected="ar"] .button {
  font-size: clamp(22px, 6vw, 35px);
}

.formWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  z-index: 400;
}

.form {
  padding: 1rem;
  position: fixed;
  top: 30%;
  min-height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #f8f0ff;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: 500;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
}

.topInputWrapper {
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  margin: 0 3rem 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form input,
.form textarea {
  border: 1px solid transparent;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
}

.form label {
  padding: 0.5rem 0;
}

.form textarea {
  margin: 0 0 1rem 0;
  resize: none;
}

.form textarea::-webkit-scrollbar {
  display: none;
}

.form input:focus,
.form textarea:focus {
  border-color: rgba(0, 0, 0, 0.3);
}

html[data-language-selected="ar"] .form {
  font-size: clamp(30px, 6vw, 35px);
}

.messengerInput {
  height: 2rem;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.sendWrapper {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sendWrapper button {
  padding: 0rem 1rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(109, 48, 157, 0.3);
  border-radius: 5px;
  cursor: pointer;
}

.sendWrapper button:disabled {
  cursor: not-allowed;
}

.sendWrapper p {
  font-size: 20px;
  font-weight: 300;
}

html[data-language-selected="ar"] .sendWrapper p {
  font-size: clamp(30px, 6vw, 35px);
}

.sentMessage {
  height: 2rem;
  color: #6d309d;
}

.closeButton,
.sendWrapper button,
.form label {
  color: #6d309d;
}

.form input,
.form textarea {
  background-color: white;
  color: #000000;
}

html[data-language-selected="ar"] .form input::placeholder,
html[data-language-selected="ar"] .form textarea::placeholder {
  font-size: clamp(20px, 6vw, 25px);
}

.loader {
  width: 28px;
  height: 28px;
  border: 3px solid #6d309d;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1430px) {
  .build {
    width: 90%;
    font-size: clamp(20px, 8vw, 35px);
  }

  .form {
    position: fixed;
    top: auto;
    left: auto;
    bottom: 0;
    transform: none;
    width: 100%;
    height: 80vh;
    max-height: 30rem;
    transform: none;
    border-radius: 0;
  }

  .topInputWrapper {
    flex-direction: column;
  }

  .form textarea {
    width: 100%;
  }

  .sendWrapper {
    margin: 0 0 1rem 0;
  }
}
