.wrapper {
  margin: 2rem 0 0 0;
  width: 80vw;
  min-width: 22rem;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #6d309d;
}

.durationSelector {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.durationButton {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  height: 3rem;
  width: 6rem;
  border: none;
  background-color: #f8f0ff;
  color: #6d309d;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}

html[data-language-selected="ar"] .durationButton {
  font-size: clamp(18px, 6vw, 25px);
}

.durationButton.active {
  background-color: hsl(272, 100%, 90%);
  color: #6d309d;
}

.daysWrapper {
  width: 100%;
  background-color: #f8f0ff;
  border-radius: 15px;
  overflow: hidden;
}

.dayItem {
  /* min-height: 3rem; */
  border-bottom: 1px solid rgba(109, 48, 157, 0.1);
}

.dayItem:last-child {
  border-bottom: none;
}

.dayItem ul {
  padding: 0 3rem;
  /* margin: 0 1rem 0 1rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  /* border-top: 1px solid rgba(109, 48, 157, 0.1); */
}

.dayItem button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: #6d309d;
  overflow: hidden;
}

.dayItem button svg {
  margin: 0 1rem 0 0;
}

.dayItem li {
  width: 100%;
  /* color: #6d309d; */
  font-size: 16px;
}

html[data-language-selected="ar"] .dayItem li {
  font-size: clamp(22px, 6vw, 30px);
}

.dayItem li:last-child {
  padding-bottom: 1rem;
}

.dayItem li::before {
  content: "•";
  color: #6d309d;
  font-size: 1.2rem;
  padding-right: 0.5rem;
  display: inline-block;
}

.titleWrapper {
  padding: 0 0 0 1rem;
  width: 75%;
}

html[data-language-selected="ar"] .titleWrapper {
  width: 85%;
}

.dayTitle {
  margin: 0 0 0.5rem 0;
  font-size: 16px;
  font-weight: 600;
}

html[data-language-selected="ar"] .dayTitle {
  font-size: clamp(24px, 6vw, 30px);
}

.dayDescription {
  height: 2rem;
  font-size: 16px;
  font-weight: 400;
}

html[data-language-selected="ar"] .dayDescription {
  height: 3rem;
  font-size: clamp(20px, 6vw, 25px);
}

.summary {
  padding: 1.5rem 0 1.5rem 0;
  /* height: 2.5rem; */
  width: 100%;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.summary svg {
  margin: 0 0.5rem 0 1rem;
}

.summary:hover {
  background-color: rgb(176, 142, 206, 0.1);
}

@media (max-width: 1080px) {
  .dayItem ul {
    padding: 0 1rem;
    width: 100%;
    align-items: flex-start;
  }

  .dayItem li {
    padding: 0 0.5rem 1rem 0.5rem;
    width: 100%;
  }

  .summary:hover {
    background-color: transparent;
  }
}

@media (max-width: 300px) {
  .wrapper {
    width: 95vw;
  }

  .daysWrapper {
    width: 95vw;
  }

  .durationSelector {
    width: 100vw;
  }
}
