.wrapper {
  padding: 1rem 1rem 1rem 0;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wrapper a {
  height: 8rem;
}

.logoWrapper {
  position: relative;
  height: 100%;
  width: 9rem;
}

.logo {
  object-fit: contain;
}
