.wrapper {
  min-height: 100vh;
  width: 100%;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper h1 {
  font-size: 40px;
  color: #6d309d;
}

.introDescription {
  margin: 2rem 0 2rem 0;
  min-width: 15rem;
  width: 80vw;
  max-width: 50rem;
  color: #6d309d;
  font-size: 18px;
  line-height: 1.6;
}

html[data-language-selected="ar"] .introDescription {
  text-align: right;
}

.benefitsWrapper {
  min-width: 15rem;
  width: 90vw;
  max-width: 50rem;
}

.benefitItem {
  margin: 1rem 0;
  width: 100%;
  background-color: #f8f0ff;
  border: 1px solid rgb(109, 48, 157, 0.1);
  border-bottom: 1px solid rgb(109, 48, 157, 0.5);
  /* border-radius: 20px; */
}

.benefitItem:first-child {
  margin: 0 0 1rem 0;
}

.benefitItem:last-child {
  margin: 1rem 0 0 0;
}

.benefitItem button {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

html[data-language-selected="ar"] .benefitItem button {
  flex-direction: row-reverse;
  text-align: right;
}

.benefitItem button svg {
  margin: 0 2rem 0 0;
  color: #6d309d;
}

html[data-language-selected="ar"] .benefitItem button svg {
  margin: 0 0 0 2rem;
}

.benefitTitle {
  padding: 0 0 0 2rem;
  color: #6d309d;
  font-size: 20px;
}

html[data-language-selected="ar"] .benefitTitle {
  margin: 0 2rem 0 0;
}

.benefitInfroWrapper p {
  width: 90%;
  padding: 0 2rem 2rem 2rem;
  color: #6d309d;
}

.treatmentsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicesTitle {
  margin: 4rem 0 0 0;
  color: #6d309d;
  font-size: 30px;
}

.servicesOuterWrapper {
  margin: 2rem 0 0 0;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
}

.serviceColumnWrapper {
  display: flex;
  flex-direction: column;
  /* width: 35%; */
}

.serviceWrapper {
  margin: 0 1rem 1rem 1rem;
  padding: 0 0 2rem 0;
  min-height: 10rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6d309d;
  border-radius: 20px;
  border: 1px solid rgb(109, 48, 157, 0.5);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.serviceWrapper img {
  margin: 1rem 0 0 0;
  user-select: none;
}

.serviceWrapper h2 {
  /* font-size: 30px; */
}

.serviceWrapper svg {
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.serviceInfoWrapper {
  padding: 0 2rem 0 2rem;
  text-align: center;
}

.serviceInfoWrapper h3 {
  margin: 0 0 1rem 0;
  opacity: 0.5;
}

.faqWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #6d309d;
}

.faqTitle {
  margin: 4rem 0 0 0;
  color: #6d309d;
  font-size: 30px;
}

.faqWrapper ol {
  min-width: 15rem;
  width: 80vw;
  max-width: 50rem;
  list-style: none;
}

.faqWrapper li {
  margin: 2rem 0;
  padding: 2rem;
  background-color: #f8f0ff;
}

.faqWrapper h3 {
  font-size: 16px;
}

.faqWrapper h4 {
  margin: 0.5rem 0;
  font-size: 20px;
}

.faqWrapper p {
}

@media (max-width: 1000px) {
  .servicesOuterWrapper {
    flex-direction: column;
    align-items: center;
  }
}
