.cardWrapper {
  /* margin: 0 1rem 1rem 1rem; */
  padding: 2rem 0 2rem 0;
  /* min-height: 10rem; */
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6d309d;
  border-radius: 20px;
  background-color: #f8f0ff;
  /* border: 1px solid rgb(109, 48, 157, 0.5); */
}

.cardHeaderWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.imageWrapper {
  position: relative;
  margin: 0 0.5rem 0 0.5rem;
  height: 6rem;
  width: 100%;
}

.cardHeaderWrapper h2 {
  margin: 1rem 0 1rem 0;
  min-height: 4rem;
}

.cardWrapper img {
  user-select: none;
  object-fit: contain;
}

.cardContentWrapper {
  padding: 0 1rem 0 1rem;
  width: 100%;
  text-align: center;
}

@media (max-width: 720px) {
  .cardWrapper {
    width: 90vw;
  }
}
